<footer>
   <div>
     <ul class="flat">
       <li>
         <a href="/index.xml" title="rss"><img src="/rss.svg" alt="rss icon" /></a>
       </li>
       <li>
         <a href="https://twitter.com/brookshelley" title="tweet" rel="me"><img src="/twitter.svg" alt="twitter icon" /></a>
       </li>
        <li>
         <a href="https://letterboxd.com/brookshelley" title="letterboxd" rel="me"><img src="/letterboxd.svg" alt="letterboxd icon" /></a>
       </li>
       <li>
         <a href="https://buttondown.email/brookshelley" title="newsletter"><img src="/mail.svg" alt="rss icon" /></a>
       </li>
       <li>
         <a href="https://github.com/brookshelley" title="github" rel="me"><img src="/github.svg" alt="github icon" /></a>
       </li>
       <li>
         <a href="/about" title="about"><img src="/info.svg" alt="info icon" height /></a>
       </li>
     </ul>
   </div>
   <div>
      <ul class="flat">
      <li class="archive">
         <a href="/posts">archive</a>
      </li>
      <li class="archive">
         <a href="/tags/newsletter/">newsletters</a>
      </li>
      <!--li class="archive">
         <a href="/tags/mediadiet/">media diet</a>
      </li-->
   </ul>
   </div>
   <div>© 2021</div>
</footer>
