<!DOCTYPE html>
<html lang="en">
{{ partialCached "head.html" . }}

<body>
		{{ partial "header.html" . }}
		<main>
			{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
			{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
			{{ range $paginator.Pages }}
			<article> 
				<div>
					<time>
						{{ dateFormat "02 Jan" .Date }}
					</time>
				</div>
				<div>
					<a class="blog-title" href="{{ .RelPermalink }}">{{.Title}}</a>
					<div class="description">
					  {{ .Description }}
					<div>
				</div>
			</article>
			{{ end }}
			<ul class="flat">
				<li class="flat">
					<a href="/posts">blog archive</a>
				</li>
				<li class="archive">
					<a href="/tags/newsletter/">newsletter archive</a>
				</li>
			</ul>
		</main>
			
		{{ partialCached "footer.html" . }}
	</div>
</body>
</html>