<!DOCTYPE html>
<html lang="en">
{{ partialCached "head.html" . }}

<body>
		{{ partial "header.html" . }}
		<main>
			{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
			{{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
			{{ range $paginator.Pages }}
			<article> 
				<div>
					<time>
						{{ dateFormat "02 Jan 06" .Date }}
					</time>
				</div>
				<div>
					<a class="blog-title" href="{{ .RelPermalink }}">{{.Title}}</a>
					<div class="description">
					  {{ .Description }}
					<div>
				</div>
			</article>
			{{ end }}
			<article>
				<a href="https://www.brookshelley.com/posts/">Archive</a>
			</article>
		</main>
</body>
</html>