<html>
{{ partial "header.html" . }}
  <body>
  <div class="grid">
    {{ partial "topbar.html" . }}
    <div>4</div>
    <div>5</div>
    <div>6</div>
     <div class="posts">
       {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
       {{ $paginator := .Paginate (where $pages "Params.hidden" "ne" true) }}
       {{ range $paginator.Pages }}
       <span class="post-date">{{ dateFormat "Jan 2" .Date }}</span>
      <span><a class="post-title" href="{{ .RelPermalink }}">{{.Title}}</a></span>
           <br />
         {{ end }}
         {{ template "partials/paginator.html" . }}
       </div>
     </div>
     <div></div>
    <div>9</div>
    <div>10</div>
    <div>11</div>
    <div class="about"><a href="/about.html">about</a> <br /> brook 2020</div>
  </div>
  </body>
</html>
