:root {
  --font-body: 'Merriweather',Georgia,Times,Times New Roman,serif;
  --font-head:'Inter',-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  --font-mono:11px;
<<<<<<< HEAD
  --font-small:0.9rem;
  --font-large:1.0rem;
  --color-bg:#000;
  --color-default:#F3F2F3;
  --color-accent:#8f75de;
  --color-alt:#603ad0;
  --spacing-maxwidth-para:34rem;
  }
@media (min-width: 1000px) {
  :root {
      --font-small:16px;
      --font-large:18px;
  }
}
html {
  line-height: 1.4; 
  padding: calc(2px + 5vw);
  color:var(--color-default);
  background-color:var(--color-bg);
  font-size:var(--font-small);
  font-weight:200;
}
@media (min-width: 600px) { html { font-size:16px; } }
@media (min-width: 700px) { html { font-size:18px; } } 

body {
padding:0;
max-width:55rem;
font-family:var(--font-body);
font-weight:300;
}

.thumb {		
  width:60px;		
  height:auto;		
}

img {
  width:100%;
  height:auto
}

p, article li {
  max-width: var(--spacing-maxwidth-para);
}

.header nav {
  font-family:var(--font-head);
  margin-left:5px;
}

header {
  font-size:var(--font-large);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left:1rem;
  margin-right:1rem;
}

.logo {
  max-width:33px; 
  float:left;
}

.baseline a, a {
  color: var(--color-accent); 
}

p a, li a, a, li {
  text-decoration: none;
  list-style: none;
}

li {
  font-family: var(--font-head);
  margin-bottom: 5px;
}

p a:hover, li a:hover, .active {
  color: var(--color-alt);
}

::-moz-selection, ::selection {
color:#8f75de
}

b,strong {
  font-weight:200;
  font-family:var(--font-head);
}

.site-title {
  line-height:33px;
  margin-bottom:0;
}

ul.flat {
  display: flex;
  margin-top:5px;
  margin-bottom:5px;
  list-style:none;
  padding-left:0px;
}

.site-title a {
  color:var(--color-default);
  font-family: var(--font-head);
  margin-left: 10px;
}

h1 {
  font-family: var(--font-head);
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

h2 {
  font-family: var(--font-head);
  text-transform: lowercase;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  -webkit-font-smoothing: antialiased;
}

h3 {
  font-family: var(--font-head);
  font-weight: 200;
  font-size: 1.1rem;
  -webkit-font-smoothing: subpixel-antialiased;
  color: var(--color-accent);
}

ul.flat, .flat, li.flat {
  display: flex;
  margin-bottom:5px;
  list-style:none;
}

li.flat {
  margin-right:10px;
}

li.archive {
  margin-right:30px;
}

.newsletter li, .post li {
  list-style-type: circle;
  font-family: var(--font-body);
  max-width: var(--spacing-maxwidth-para);
}

.newsletter a, .baseline a {
  margin: 0 2px;
}

.newsletter .flat {
  list-style: none;
}

@media (min-width: 800px) {
  body>header {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: baseline;
  }
  body>header {
      padding: 1vw 5vw 8vw;
  }
  body>header>div:first-child {
      top: 6px;
      align-self: flex-start;
  }
  body>header a.logo {
      margin-bottom: 0;
  }
  
  body>main {
    padding: 1vw 5vw;
  }
  
  article, .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
  } 
 
  div.title {
      font-size: var(--font-small);
      line-height: 22px;
      text-transform: lowercase;
  }

  .logo {
    max-width:33px; 
    float:left;
    margin-top:2px;
    }
  article {
  margin: 1.4rem .5rem
  }
  main {
    margin-top: 0rem;
  }
}

time {
  font-family: var(--font-head);
  font-size: var(--font-small);
  text-transform: lowercase;
  letter-spacing: 0.03em;
  color:#eeef9;
  font-weight:200;
}

.description {
  font-family: var(--font-head);
  font-size: var(--font-small);
  text-transform: lowercase;
}

.blog-title {
  font-family: var(--font-head);
  font-size: 1rem;
  font-weight: 400;
  margin-left: 0;
  text-transform: lowercase;
}

#thumbs {
  margin-right: 5px;
}

main {
  margin-top: 3rem;
}

article {
  margin: 1.4em 1rem;
}

article b {
  font-family: var(--font-head)
}

article h1 {
  margin: 2px 0 1.5rem;
}

em {
  margin: 0 2px;
}

article:first-of-type { margin-top: 0; }

@media (max-width: 799px) {
  ul.taglist { display: none; }
}

ul.taglist {
  list-style: none;
  padding: 0;
  margin: 1 0 0;
  font-family: var(--font-head);
  font-size: var(--font-small);
  text-transform: lowercase;
  letter-spacing: 0.03em;
}

ul.taglist li {
  line-height: var(--font-line-height);
  padding: 0;
}

ul.taglist li:before {
  content: '# ';
}
