:root {
  --font-body:Garamond,Georgia,Times,Times New Roman,serif;
  --font-head:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  --font-small:0.85rem;
  --font-large:0.82rem;
  --color-bg:#000;
  --color-default:#F3F2F3;
  --color-accent:#603ad0;
  --color-alt:#8f75de;
  }
  
@media (min-width: 1000px) {
  :root {
      --font-small: 14px;
      --font-large: 12px;
  }
}

html {
line-height: 1.5; 
margin: 0 auto; 
padding: calc(8px + 5vw);
color:var(--color-default);
background-color:var(--color-bg);
font-size:var(--font-small);
}
  
@media (min-width: 600px) { html { font-size: 17px; } }
@media (min-width: 700px) { html { font-size: 18px; } }
  
body {
padding: 0;
margin: 0 auto;
max-width: 55rem;
font-family:var(--font-body);
font-weight:200;
}

.logo {
  max-width:33px; 
  float:left
  }

p {
max-width: 32rem;
}

p a, li a {
  color: var(--color-accent);
  text-decoration: none;
}

p a:hover, li a:hover, .active {
  color: var(--color-alt);
}

::-moz-selection {
color:#8f75de
}

::selection {
color:#8f75de
}

b,strong {
font-weight:700
}

i {
font-weight:200
}

h1 {
  font-family: var(--font-head);
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

h2 {
    font-family: var(--font-head);
    text-transform: lowercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-top: 3rem;
    -webkit-font-smoothing: antialiased;
}

h3 {
    font-family: var(--font-head);
    font-weight: 400;
    font-size: 0.98rem;
    -webkit-font-smoothing: subpixel-antialiased;

    font-family: var(--font-body);
    font-weight: bold;
    font-size: 0.9rem;
    color: var(--color-accent);
    letter-spacing:0;
}

ul.flat {
  display: flex;
  margin-top:5px;
  margin-bottom:5px;
  margin-right:5px;
  list-style:none;
}

@media (min-width: 800px) {
  body>header, footer {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      align-items: baseline;
  }
  body>header {
      padding: 3.5vw 0 9vw;
  }
  body>header>div:first-child {
      position: relative;
      top: 6px;
      align-self: flex-start;
  }
  body>header a.logo {
      margin-bottom: 0;
  }
  nav {
      margin: 0;
      padding: 0;
      border: none;
  }
  nav div {
      display: block; 
      text-align: right;
      margin: 0;
  }
  nav a { line-height: 21px; }
  footer {
      padding: 5vw 0;
  }
  div.title {
      font-size: 12px;
      line-height: 23px;
  }
}

