:root {
  --font-body:Garamond,Georgia,Times,Times New Roman,serif;
  --font-head:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",sans-serif;
  --font-mono:15px;
  --font-small:0.9rem;
  --font-large:1rem;
  --color-bg:#000;
  --color-default:#F3F2F3;
  --color-accent:#603ad0;
  --color-alt:#8f75de;
  --spacing-maxwidth-para: 32rem;
  }
  
@media (min-width: 1000px) {
  :root {
      --font-small: 15px;
      --font-large: 16px;
  }
}

html {
line-height: 1.5; 
margin: 0 auto; 
padding: calc(8px + 5vw);
color:var(--color-default);
background-color:var(--color-bg);
font-size:16px;
}
  
@media (min-width: 600px) { html { font-size: 17px; } }
@media (min-width: 700px) { html { font-size: 18px; } }
  
body {
padding: 0;
margin: 0 auto;
max-width: 55rem;
font-family:var(--font-body);
font-weight:200;
}

p, article li {
  max-width: var(--spacing-maxwidth-para);
}

.header nav {
  font-family:var(--font-head);
  font-size:var(--font-large);
  margin-bottom:.5em;
  margin-left:5px;
}

header {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

footer {
  font-family:var(--font-head);
  font-size:.5em;
  color:var(--color-default);
  width:100%;
}

footer p {
  font-family:var(--font-head);
  font-size:12px;
}

footer img {
  max-height: 16px;
  margin-right: 5px;
}

.logo {
  max-width:33px; 
  float:left;
  }
  
.baseline a {
  font-family:var(--font-head);
}


p a, li a, a, li {
  color: var(--color-accent);
  text-decoration: none;
  list-style: none;
}

li {
  font-family: var(--font-head)
}

p a:hover, li a:hover, .active {
  color: var(--color-alt);
}

::-moz-selection {
color:#8f75de
}

::selection {
color:#8f75de
}

b,strong {
font-weight:400
}

i {
font-weight:200
}

.site-title {
  line-height:33px;
  margin-bottom:0;
  margin-left:45px;
}

ul.flat {
  display: flex;
  margin-top:5px;
  margin-bottom:5px;
  list-style:none;
  padding-left:0px;
}

.site-title a {
  color:var(--color-default);
  font-family: var(--font-head);
}

h1 {
  font-family: var(--font-head);
  text-transform: lowercase;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}

h2 {
    font-family: var(--font-head);
    text-transform: lowercase;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
    -webkit-font-smoothing: antialiased;
}

h3 {
    font-family: var(--font-head);
    font-weight: 400;
    font-size: 0.98rem;
    -webkit-font-smoothing: subpixel-antialiased;
    font-size: 0.9rem;
    color: var(--color-accent);
}

ul.flat, .flat, li.flat {
  display: flex;
  margin-bottom:5px;
  list-style:none;
}

li.flat {
  margin-right:10px;
}

@media (min-width: 800px) {
  body>header {
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      align-items: baseline;
  }
  body>header {
      padding: 2.5vw 0 8vw;
  }
  body>header>div:first-child {
      top: 6px;
      align-self: flex-start;
  }
  body>header a.logo {
      margin-bottom: 0;
  }

  footer {
      padding: 2 0;
  }
  div.title {
      font-size: 12px;
      line-height: 23px;
  }
  header li {
    margin-left:5px;
  }
  .logo {
    max-width:33px; 
    float:left;
    margin-top:5px;
    }
}

time {
  font-family: var(--font-head);
  font-size: var(--font-mono);
  text-transform: lowercase;
  letter-spacing: 0.03em;
  color:#888;
}

.description {
  font-family: var(--font-head);
  font-size: var(--font-mono);
  text-transform: lowercase;
}

.blog-title {
  font-family: var(--font-head);
  font-size: 1rem;
}

article {
  margin: 4.5 0;
}

article b {
  font-family: var(--font-head)
}

strong {
  font-family: var(--font-head);
}

article:first-of-type { margin-top: 0; }

@media (max-width: 799px) {
  ul.taglist { display: none; }
}

@media (min-width: 800px) {
  article, .grid {
      display: grid;
      grid-template-columns: 1fr 4fr;
  }
}

ul.taglist {
  list-style: none;
  padding: 0;
  margin: 1 0 0;
  font-family: var(--font-head);
  font-size: var(--font-mono);
  text-transform: lowercase;
  letter-spacing: 0.03em;
}

ul.taglist li {
  line-height: var(--font-line-height);
  padding: 0;
}

ul.taglist li:before {
  content: '# ';
}
