<!DOCTYPE html>
<html>
{{ partialCached "head.html" . }}

<body>
		{{ partialCached "header.html" . }}
		<main>
			<article class="baseline">
			<div>
				<time>
				brook is a noted sapphist <br />
				she lives in the forest <br />
				with her cat snorri <br />
				you can reach her <a href="mailto:about@brookshelley.com">here</a> <br />
				view her <a href="/tags/newsletter/">newsletter</a> <br />
				& <a href="https://buttondown.email/brookshelley">subscribe</a>
				</time>
			<ul class="taglist">
				{{ range .Params.tags }}
				<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
				{{ end }}
			</ul>
			</div>
			<div class=post>
				{{ .Content }}
			</div>
		</article>
	</main>
</body>

</html>