<!DOCTYPE html>
<html lang="en">
{{ partialCached "head.html" . }}

<body>
		{{ partial "header.html" . }}
		<main>
		<article>
		<div></div>
		<div><h1>archive</h1></div>
		</article>
		{{ range ( where .Site.RegularPages "Type" "posts") }}
		  <article> 
				<div>
					<time>
						{{ dateFormat "02 Jan" .Date }}
					</time>
				</div>
				<div>
					<a class="blog-title" href="{{ .RelPermalink }}">{{.Title}}</a>
					<div class="description">
					  {{ .Description }}
					<div>
				</div>
			</article>
			{{ end }}
		</main>
	</div>
</body>
</html>
