<!DOCTYPE html>
<html>
{{ partialCached "head.html" . }}

<body>
	<div class="container wrapper">
		{{ partial "header.html" . }}

		<main>
			<article>
			<h1 class="title2">{{ .Title }}</h1>
			{{ .Content }}
			
			<nav class="tags">
				<ul class="flat">
					<li>tags</li>
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>

		</article>
		{{ partialCached "footer.html" . }}
	</main	>
</body>

</html>
