<!DOCTYPE html>
<html>
{{ partialCached "head.html" . }}

<body>
	{{ partialCached "header.html" . }}
	<main>
	<div>
		<a href=/tags><h3>all tags</h3></a>
	</div>
	<h1># {{ .Title }}</h1>
	<div class="taglist">
			{{ $t := .Site.GetPage "/tags" }}
			{{ range .Pages }}
			<article> 
				<div>
					<time>
						{{ dateFormat "02 Jan" .Date }}
					</time>
				</div>
				<div>
					<a class="blog-title" href="{{ .RelPermalink }}">{{.Title}}</a>
					<div class="description">
						{{ .Description }}
					<div>
				</div>
			</article>
			{{ end }}
	  </div>
	</main>
	{{ partial "footer.html" . }}
</body>
</html>